.container {
   display: flex;
   flex-direction: column;
   max-width: min(93vw, 1040px);
   min-height: 100svh;
   flex-grow: 1;
   padding-bottom: 100px;
   gap: 20px;
}

.wrapper {
   display: flex;
   min-width: 100%;
   align-items: center;
   justify-content: center;
}