.myButton {
   padding: 10px 30px;
   border-radius: 25px;
   border: 1px solid #ddd;
   transition: 0.3s;
   width: 100%;
   display: block;
}

.myButton:hover {
   background: #585acab3;
   transition: 0.3s;
}